{% extends 'base.html' %}



 {% block con %}

<h4>角色列表</h4>
    {% if 'add' in request.actions %} {# 此处还有一种创建一个类 在rabc文件里面 #}
        <a href="/roles/add" class="btn btn-primary add-user" style="margin: 7px 0 7px 0">添加角色</a>
    {% endif %}

<table class="table table-bordered table-striped">

    <tbody>
        {% for role in role_list %}
            <tr>
                 <td>{{ forloop.counter }}</td>
            <td>{{ role.title }}</td>

            <td>
                {% if 'edit' in request.actions %}
                    <a href="/roles/edit/{{ user.pk }}" class="btn btn-primary">编辑</a>
                {% endif %}
                {% if 'delete' in request.actions %}
                    <a href="/roles/delete/{{ user.pk }}" class="btn btn-danger">删除</a>
                {% endif %}
            </td>
            </tr>



        {% endfor %}

    </tbody>
</table>
        {% endblock %}